<div class="ui stackable centered grid">
    {% for slug,device in devices %}
        <div class="four wide column" style="padding-left: 0 !important; padding-right: 0 !important;">
            <div class="ui fluid card ">
                <div class="content" id="{{ slug }}-header">
                    <div class="header">
                    <div class="ui grid">
                        <div class="ten wide column dark-blue-text"><i class="ui {{ device_icons[slug] }} icon"></i> {{ device_names[slug] }}</div>
                        <div class="six wide column"><i class="ui chevron {% if session_hidden[slug] %}down{% else %}up{% endif %} icon" id="{{ slug }}-chevron" style="float: right"></i></div>

                    </div>
                    </div>

                </div>
                <div class="content text-center" id="{{ slug }}-content"
                     {% if session_hidden[slug] %}style="display: none;"{% endif %}>
                    {% partial __SELF__ ~ '::device' device=device slug=slug %}
                </div>
            </div>
        </div>
        {% put scripts %}
        <script>
          $('#{{ slug }}-header').on('click', function () {
            $('#{{ slug }}-content').toggle(200, function(){
              send{{ slug }}State();
            })
          })

            function send{{ slug }}State(){
              var visible = $('#{{ slug }}-content').is(':visible')
              var chevron = $('#{{ slug }}-chevron');
              if(visible){
                chevron.removeClass('ui chevron down icon');
                chevron.addClass('ui chevron up icon');
              } else {
                chevron.removeClass('ui chevron up icon');
                chevron.addClass('ui chevron down icon');
              }
              $.request('onBoxToggle', {
                data: {
                  device: '{{ slug }}',
                  visible: visible
                }
              })
            }
        </script>
        {% endput %}
    {% endfor %}
</div>

