<h2>{{ random }}</h2>
<div class="knob-row">
    <div class="knob">
        {% if device.state() == '1' %}
            <input type="text"
                   id="{{ slug }}-manager"
                   name="{{ slug }}-dim"
                   class="knobWidget"
                   value="{{ device.dimState() }}"
                   data-min="0"
                   data-max="100"
                   data-step="1"
                   data-angleArc="300"
                   data-angleOffset="-150"
                   data-fgColor="#2C497F"
                   data-bgColor="#86B1F1"
                   data-inputColor="#2660A4"
            >
        {% else %}
            <h4>Device Turned Off</h4>
        {% endif %}
    </div>
</div>