{% if device.isDimmable() %}
    <div class="knobwidget-container">
        <div id="{{ slug }}-deviceKnob">
            {% partial __SELF__ ~ '::deviceKnob' slug=slug device=device %}
        </div>
        {% put scripts %}
        <script>
          function activate{{ slug }}Knob () {
            $('#{{ slug }}-manager').knob({
              'release': function (v) {
                $.request('onUpdateDim', {
                  data: {
                    'value': v,
                    'device': '{{ slug }}'
                  }
                })
              }
            })
          }

          activate{{ slug }}Knob()
        </script>
        {% endput %}
    </div>
    <br/>
{% endif %}
<div class="ui big toggle checkbox">
    <input type="checkbox" name="{{ slug }}-switch" {% if device.state() %}checked{% endif %}
           data-request="onSwitchDevice" data-track-input="true" data-request-data="device: '{{ slug }}'"
           data-request-update="'{{ __SELF__ }}::deviceKnob': '#{{ slug }}-deviceKnob'" data-request-success="activate{{ slug }}Knob()">
    <label style="padding-left: 3.5rem"></label>
</div>
<br/><br/>
<a href="/device/{{ slug }}" class="ui blue button"><i class="ui moon icon"></i> SLEEP</a>