<select name="action" data-request="onSelectAction" data-request-update="'{{ __SELF__ }}::dim': '#dim'">
    <option value="">-- select action --</option>
    {% for key,label in actions %}
    <option value="{{ key }}">{{ label }}</option>
    {% endfor %}
</select>
<br />