<div class="ui fluid card">
    <div class="content">
        <div class="header">Create new task</div>
    </div>
    <div class="content">

        <input placeholder="Task name" name="name"/><br/><br/>
        <select name="device" data-request="onSelectDevice"
                data-request-update="'{{ __SELF__ }}::actions': '#actions'">
            <option value="">-- select device --</option>
            {% for device in devices %}
                <option value="{{ device.slug }}">{{ device.name }}</option>
            {% endfor %}
        </select>
        <br/>
        <div id="actions"></div>

        <div id="dim"></div>
        <input placeholder="action_time" class="timepicker" name="action_time"/><br/><br/>
        <div class="ui two columns grid">
            <div class="column">
                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" name="weekdays[mo]"> <label>Monday</label>
                </div>
                <br/><br/>

                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" name="weekdays[tu]"> <label>Tuesday</label>
                </div>
                <br/><br/>

                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" name="weekdays[we]"> <label>Wednesday</label>
                </div>
                <br/><br/>

                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" name="weekdays[th]"> <label>Thursday</label>
                </div>
                <br/><br/>


            </div>
            <div class="column">
                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" name="weekdays[fr]"> <label>Friday</label>
                </div>
                <br/><br/>
                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" name="weekdays[sa]"> <label>Saturday</label>
                </div>
                <br/><br/>

                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" name="weekdays[su]"> <label>Sunday</label>
                </div>
                <br/><br/>

                <div class="ui big toggle checkbox">
                    <input type="checkbox" id="selectAll"> <label>Toggle All</label>
                </div>
            </div>
        </div>
        <br/>

        <br/>

        <div class="ui big toggle checkbox">
            <input type="checkbox" name="is_active">
            <label>Enable</label>
        </div>
        <br/><br/>

    </div>
</div>


{% put scripts %}
<script>
  $('#days_checkbox').dropdown()
  $('#selectAll').on('click', function () {
    var checkBoxes = $('.day-checkbox')
    checkBoxes.prop('checked', !checkBoxes.prop('checked'))
  })
</script>
{% endput %}