<div class="ui fluid card">
    <div class="content">
        <div class="header">Edit {{ task.name }} task</div>
    </div>
    <div class="content">

        <input placeholder="Task name" name="name" value="{{ task.name }}"/><br/><br/>
        <select name="device" data-request="onSelectDevice"
                data-request-update="'{{ __SELF__ }}::actions': '#actions'">
            <option value="">-- select device --</option>
            {% for device in devices %}
                <option value="{{ device.slug }}"
                        {% if device.slug == task.device.slug %}selected{% endif %}>{{ device.name }}</option>
            {% endfor %}
        </select>
        <br/>
        <div id="actions">
            {% partial __SELF__ ~'::actions' %}
        </div>

        <div id="dim">
            {% partial __SELF__ ~'::dim' action=task.action dimmable=device.isDimmable() %}
        </div>
        <input placeholder="action_time" class="timepicker" name="action_time"
               value="{{ task.action_time }}"/><br/><br/>
        <div class="ui two columns grid">
            <div class="column">
                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" {% if weekdays['mo'] %}checked{% endif %}
                           name="weekdays[mo]"> <label>Monday</label>
                </div>
                <br/><br/>

                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" {% if weekdays['tu'] %}checked{% endif %}
                           name="weekdays[tu]"> <label>Tuesday</label>
                </div>
                <br/><br/>

                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" {% if weekdays['we'] %}checked{% endif %}
                           name="weekdays[we]"> <label>Wednesday</label>
                </div>
                <br/><br/>

                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" {% if weekdays['th'] %}checked{% endif %}
                           name="weekdays[th]"> <label>Thursday</label>
                </div>
                <br/><br/>


            </div>
            <div class="column">
                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" {% if weekdays['fr'] %}checked{% endif %}
                           name="weekdays[fr]"> <label>Friday</label>
                </div>
                <br/><br/>
                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" {% if weekdays['sa'] %}checked{% endif %}
                           name="weekdays[sa]"> <label>Saturday</label>
                </div>
                <br/><br/>

                <div class="ui big toggle checkbox">
                    <input class="day-checkbox" type="checkbox" {% if weekdays['su'] %}checked{% endif %}
                           name="weekdays[su]"> <label>Sunday</label>
                </div>
                <br/><br/>

            </div>
        </div>
        <br/>

        <br/>

        <div class="ui big toggle checkbox">
            <input type="checkbox" name="is_active" {% if task.is_active %}checked{% endif %}>
            <label>Enable</label>
        </div>
        <br/><br/>


    </div>
</div>

{% put scripts %}
<script>
  $('#days_checkbox').dropdown()
  $('#selectAll').on('click', function () {
    var checkBoxes = $('.day-checkbox')
    checkBoxes.prop('checked', !checkBoxes.prop('checked'))
  })
</script>
{% endput %}