{% if action == 'dim' %}
    <div class="ui two columns grid">
        <div class="column">
            <input placeholder="Dim to..." type="number" min="0" max="100" name="dim" value="{{ task.dim }}"/><br/><br/>
        </div>
        <div class="column">
            <input placeholder="Dim seconds" type="number" min="0" max="1000" name="dim_time" value="{{ task.dim_time }}"/><br/><br/>
        </div>
    </div>
{% elseif dimmable %}
    <input placeholder="Dim seconds" type="number" min="0" max="1000" name="dim_time" value="{{ task.dim_time }}"/><br/><br/>
{% endif %}
