<div class="ui fluid card">
    <div class="content">
        <div class="header">Tasks List</div>
    </div>
    <div class="content" style="margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0">

        <div class="responsive-table">
            <table class="ui unstackable table text-center">
                <thead>
                <tr>
                    <th><i class="ui tasks icon"></i></th>
                    <th><i class="ui lightbulb icon"></i></th>
                    <th><i class="ui clock icon"></i></th>
                    <th><i class="ui bell icon"></i></th>
                    <th><i class="ui cogs icon"></i></th>
                </tr>
                </thead>
                <tbody>
                {% for task in tasks %}
                    <tr>
                        <td>{{ task.name }}<br/>
                            <small><strong>{{ task.getDeviceLabel() }}</strong></small>
                        </td>
                        <td>{{ task.getActionString() }}</td>
                        <td class="text-center">
                            <div class="ui fluid blue label">{{ task.getActionTime() }}</div>
                            <!--<br/> {{ task.getActionDays()|raw }}</td>-->
                        <td>{% if task.is_active %}
                                <i class="ui check icon"></i>
                            {% else %}
                                <i class="ui times icon"></i>
                            {% endif %}
                        </td>
                        <td>

                            <a class="ui compact icon blue button" href="/task/{{ task.id }}"><i
                                        class="ui edit icon"></i></a>
                            <br/><br/>
                            <button class="ui compact icon red button" data-request="onDeleteTask"
                                    data-request-data="task: '{{ task.id }}'" data-request-confirm="Are you sure?">
                                <i
                                        class="ui trash icon"></i></button>

                        </td>

                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6" class="text-center">No tasks</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
        <br/>
    </div>
</div>
