<div class="ui fluid card text-center">
    <br/>
    <div id="sleepContainer">
        <h4>Select sleep timeout</h4>
        <div class="ui container">
            <form class="ui form" data-request="onSleep" data-request-update="'{{ __SELF__ }}::job': '#job'">
                <select name="delay">
                    <option value="15">15 seconds</option>
                    <option value="60">1 minute</option>
                    <option value="300">5 minutes</option>
                    <option value="900">15 minutes</option>
                    <option value="1800">30 minutes</option>
                </select>
                <br/>
                <div id="job">
                    {% if job %}
                        {% partial __SELF__ ~ '::job' job=job %}
                    {% else %}
                        <br />
                        <button class="ui big circular blue icon button"><i class="ui moon icon"></i></button>
                    {% endif %}
                </div>
                <br/><br/>
            </form>
            <br/>
        </div>
    </div>
</div>
