<div class="ui blue indicating progress" id="job-progress">
    <div class="bar"></div>
    <div class="label"></div>
</div>
<button class="ui tiny red button" data-request="onCancelJob" data-request-data="job: '{{ job.id }}'">Cancel</button>
<script>
  $('#job-progress').progress({
    percent: {{ job.progress }}
  })

  function refreshJob () {
    $.request('onCheckProgress', {
      data: {
        job: {{ job.id }}
      },
      success: function (data) {
        $('#job-progress').progress({
          percent: data.progress
        })
        if (data.progress !== 100) {
          nextRefreshCycle()
        } else {
          $.request('onComplete', {
            update: {
              '{{ __SELF__ }}::success': '#sleepContainer'
            }
          })
        }
        this.success(data)
      }
    })
  }

  function nextRefreshCycle () {
    setTimeout(refreshJob, 1000)
  }

  refreshJob()
</script>